.clearfix {
  content: "";
  display: table;
  clear: both;
}
body {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 960px;
  color: #fff;
  background: #141414 url("img/body.jpg") no-repeat top center;  
}
.main-header {
  margin-bottom: 60px;
  background: #000 ;
  color: #fff;
  
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  
}
.main-nav {
  width: 780px;
  float: left;
  
}
.user-block {
  max-width: 140px;
  float: right;
  
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.main-nav a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #fff;
}
/*Подсветка при наведении*/
.main-nav a:hover {                      
  background: #242424;
}
/*белая полоска,типа актив*/
.main-nav .active a{
  position: relative;
}
.main-nav .active a::after {
  content: "";
 
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;       /*20px потому что паддинг у ссылки 20px*/
  
  
  height: 5px;       /*5px берет из макета*/
  background: white;
}
/*запрет фона для активного пункта меню*/
.main-nav .active a:hover {
  background: none;
}
.login {
  display: inline-block;
  vertical-align: top;      /*не забывать меня с baseline он убог */
  position: relative;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  padding: 25px 20px;
  padding-left: 50px;
}
.login:hover {
  background: #242424;
}
/*картинка ->*/
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
/*  outline: 2px solid blue;*/
  background: url("img/icon-login.png") no-repeat;
  background-position: 0 -15px;
  opacity: .3;
}
/*опасити - прозрачность*/
.login:hover::before {
    opacity: 1;
}
/*размеры для блока с изображением*/
.logo {
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;    
  height: 204px;
}
.features-row {
  margin-bottom: 80px;   /*из макета*/
}
.features-item {
  width: 300px;
  margin-right: 20px;
  float: left;
  text-align: center;
  
  
}
.features-item:last-child {
  margin-right: 0;
}
.features-title {
  padding-bottom: 50px;    /*из макета*/
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
  position: relative;
}
.features-item p {
  margin: 10px;      /*для единообразия*/
}
.features-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.gallery-content {
  width: 286px;
  height: 164px;
}
.index-content {
  background: url(img/shodw-bg.png) no-repeat center,
  #f8f5f2 url(img/idnex-bg.jpg);
  color: #000;
  margin-bottom: 35px;
  padding: 55px 70px;
  width: 800px;
  margin: 0 auto 35px;
}
.index-column-left {
  width: 350px;
  float: left;
}
.index-column-right {
  width: 300px;
  float: right;
}
.index-content-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}
.news-preview {
  margin: 0;
  padding: 0;         /*Сбросили отпуступы для списка*/
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.mews-preview time {
  text-transform: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 33px;
  text-decoration: none;
  
  font-size: 14px;
  line-height: 24px;                      /*дублируем шрифты т.к. кнопка задана через элемент форм*/
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  
  color: #fff;
  background: #000;
  border:none;
  outline: none;     /*убирается т.к. форма*/
  cursor: pointer;
  margin-right: 16px;
}
.btn:hover,
.btn:active {
  background: #663d15;        /*кнопка подсвечивается при наведении, цвет из стайлгайда*/
}
.gallery {
  height: 260px;
  position: relative;
 /* меряется из макета с кнопками*/
}
.gallery-content {
  height: 164px;
  margin: 0;
  border: 7px solid white;
  background: #ccc;
}
  
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.index-content p {
  margin: 0;
  margin-bottom: 30px;
}
.appointment-form input {
  width: 108px;
  padding: 10px 14px;
  border: 2px solid black;
  outline: none;
  color: #000;
  background: #f8f5f2;
  
  
  font-size: 14px;
  line-height: 24px;                      /*дублируем шрифты т.к. кнопка задана через элемент форм*/
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}
.appointment-form input:focus {
  border: 2px solid #663d15;           /*курсор в поле*/
}
.appointment-form input:nth-child(even) {
  margin-right: 0;                 /*сбрасываем маргин у каждого второго инпута ,чтобы влезло*/
}
.appointment-form .btn {
  width: 100%;
}
/*для красоты*/
.beauty {
  margin-top: 43px;
}
/**/

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #222222 url("img/footer-bg.jpg");
  color: #fff;
}
.footer-contacts {
  width: 310px;
  padding-left: 10px;  
  float: left;
  margin-right: 95px;
  
}
.footer-social {
  float: left;
  text-align: center;
  
}
.footer-copyright {
  float: right;
  max-width: 310px;  
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 19px;
  text-align: center;
}
.footer-copyright .btn {
  margin: 0;
}
.vk {
  font-size: 0;
  display: inline-block;
  background: url(img/vk-icon.png) no-repeat;
  width: 43px;
  height: 43px;
}
.vk + a {
  text-decoration: none;
  font-size: 0;
  display: inline-block;
  background: url(img/fb-icon.png) no-repeat;
  width: 43px;
  height: 43px;
}
.insta {
  text-decoration: none;
  font-size: 0;
  display: inline-block;
  background: url(img/insta-icon.png) no-repeat;
  width: 43px;
  height: 43px;
}
.inner-page {
  background: #f8f4f1 url(img/idnex-bg.jpg) repeat;
  color: #000;
}
.inner-page .main-header {
  margin-bottom: 55px;
}
.inner-page-title {
  margin-bottom: 55px;
}
.inner-page-title h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  position: relative;
  display: inline;
  margin-right: 40px;
  
}
.breadcrumbs li:after {
  content: "";
  
  position: absolute;
  top: 6px;
  right: -20px;
  
  width: 8px;
  height: 8px;
  
  background: #000;
  transform: rotate(45deg);
}
.breadcrumbs a {
  text-decoration: none;
  color: #000;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs .current {
  color: #aba9a7;
}
.breadcrumbs .current:after {
  display: none;
}
.inner-content {
  margin-bottom: 75px;
}
.inner-content h2 {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 60px;
  padding: 0;  
}
.inner-content table {
  border-collapse: collapse;
}
.inner-content td {
  padding: 10px 15px;
  border: 2px solid black;
}
.big-heading {
  text-align: center;
  margin-bottom: 60px;
}
.big-heading h2 {
  position: relative;
  z-index: 2;
  display: inline;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  background: #f8f4f1 url(img/idnex-bg.jpg) repeat;
  
}
.big-heading:after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  
  display: block;
  border-bottom: 2px solid black;
}
.custom-list-1 li {
  position: relative;
  
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;
}
.custom-list-1 li:before {
  content: "";
  
  position: absolute;
  width: 8px;
  height: 8px;
  background: #000;
  top: 8px;
  left: 0;
  transform: rotate(45deg);
}
.prices-table {
  width: 100%;
}
.prices-table td {
  width: 50%;
}
.prices-table td:last-child {
  text-align: center;
}
.content-columns {
  margin: 60px 0;
}
.content-column-left,
.content-column-right {
  width: 460px;
}
.content-column-left {
  float: left;
  margin-right: 40px;
 
}
.content-column-right {
  float: right;
}
.content-column-left *:first-child,
.content-column-right *:first-child {
  margin-top: 0;
}
.content-column-left *:last-child
.content-column-right *:last-child {
  margin-bottom: 0;
}
.short-text {
  padding-right: 80px;
}

.modal-content {
  width: 300px;
  padding: 50px 80px;
  background: #f8f4f1 url(img/idnex-bg.jpg) repeat;
  display: none;
  
  position: absolute;
  top: 0;
  left: 50%;            
  margin-top: 120px;
  margin-left: -230px;                  /*общая ширина элм-та 300+80+80=460 460/2=230, центруем */
  
  color: black;
}
.modal-content-close {
  position: absolute;
  top: 0;
  right: -50px;
  
  width: 40px;
  height: 40px;
  
  font-size: 0;
  cursor: pointer;
  background: url(img/cross.png) no-repeat;
}
.modal-content-title {
  margin: 0;
  margin-bottom: 25px;
  
  font-size: 30px;
  line-height: 42px;
}
.modal-content p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}
.modal-content .login-form {
  margin-bottom: 10px;
}
.icon-login,
.icon-password {
  width: 241px;
  margin: 0;
  padding: 10px 15px;
  padding-right: 40px;               /*не перекрыть картинку*/
  margin-bottom: 5px;
  
  color: #000;
  border: 2px solid #000;
  background: #f9f6f3;
  
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
}
.icon-login:focus,
.icon-password:focus {
  border: 2px solid #663d15;
}

.icon-login {
  background-image: url(img/login-icon.png);
  background-repeat: no-repeat;
  background-position: 95%;
}
.icon-password {
  background-image: url(img/password-icon.png);
  background-repeat: no-repeat;
  background-position: 95%;
}
.login-form a {
  color: #000;
  float: right;
  margin-bottom: 15px;
}
.login-form .btn {
  width: 100%;
}
.login-form input[type="checkbox"],
.form-column input[type="checkbox"] {
  display: none;
}
.login-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  cursor: pointer;
}
/*filtr tovarov*/
.form-column input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
}
.form-column input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -25px;
  width: 14px;
  height: 14px;
  border: thin solid black;
}
.form-column input[type="checkbox"]:checked + label:before {
  background: url(img/psevdo-x.png) no-repeat;
  background-position: 1px 1px;
}
/*filtr tovarov*/
.login-form input[type="checkbox"] +
label:hover {                                /*label который идет сразу за инпут с чекбоксом*/
  color: #663d15;
}
.login-form input[type="checkbox"]+ label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: thin solid black;
}
.login-form input[type="checkbox"]:checked + label:before {
  background: url(img/psevdo-x.png) no-repeat;
  background-position: 2px 2px;
}
.shop-columns h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
}


.form-column {
  width: 200px;
}
.left-column {
  line-height: 35px;
}
.item {
  width: 220px;
  background: #f8f8f8;
  box-shadow: 0 0 1px rgba(0,0,0,0.5);
  padding-left: 8px;
  padding-bottom: 5px;
  margin-right: 15px;
/*  float: left;*/
  display: inline-block;
  margin-bottom: 15px;
}
.item .btn {
  margin: 0;
}
.item h3,
.item h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.item h4 {
  text-transform: none;
}
.item:nth-child(3) {
  margin-right: 0;
}
.item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.price {
  background: #e5e5e5;
  width: 55px;
  padding: 10px 25px;
  float: left;
}
.form-column {
  float: left;
  margin-right: 40px;
}
.right-column {
  float: left;
}
.pager {
  width: 200px;
  margin-left: 240px;
}
.pager a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 18px;
  margin-right: 5px;
  background: #000;
  text-decoration: none;
  color: #fff;
}
.bot {
  margin-bottom: 25px;
}
.pager a:hover {
  background: #663d15;
}
.pager .current {
  background: #fff;
  color: #000;
}
/*script*/
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
@keyframes bounce {
  0% { transform: translateY(-2000px);}
  70% { transform: translateY(-30px);}
  90% { transform: translateY(-10px);}
  100% { transform: translateY(0);}
}